body {
  font-family: 'Georgia', serif; /* Use Georgia as the font for the body text */
  margin: 0;
  padding: 0;
  font-size: 18px; /* Increase the font size for all text */
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 200px; /* Adjust padding to be distance from the sidebar image */
  padding-right: 200px; /* Add additional padding on the right side */
}

.article {
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 20px;
  margin-right: 10px; /* Add margin to create space between the article and the sidebar */
  overflow-y: auto; /* Enable vertical scrolling for the article */
}

.sidebar {
  width: 100px; /* Keep the desired width of the sidebar */
  height: 100vh; /* Adjust the height to fill the remaining viewport height after considering top and bottom padding */
  position: fixed; /* Change position to fixed to ensure it sticks to the edge of the screen */
  top: 0px;
}

.sidebar-left {
  left: 0px;
}

.sidebar-right {
  right: 0px;
}

.side-image {
  width: 100%;
  border-radius: 0px;
  height: 100vh;
}

#photo {
  display: block;
  width: 80%;
  position: relative;
  margin: 0 auto;
  top: 5px;
  bottom: 5px;
}

/* Photo Gallery */

.gallery-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  max-height: 720px;
  overflow: hidden;
}

.gallery {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.gallery img {
  display: block;
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  align-items: center;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* Interactive Map */

.map-container {
  position: relative;
}

.image-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.hover-box {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 5px;
  z-index: 1;
  font-size: 12px;
}

.hover-box img {
  max-width: 100%;
  display: inline-block;
  height: auto;
}

.clickable-point {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: none; /* for debugging visibility */
  border-radius: 50%;
  cursor: pointer;
}

.hover-box {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 30px; /* Adjust padding to be distance from the sidebar image */
    padding-right: 30px; /* Add additional padding on the right side */
  }
  .article {
    max-width: 100%;
    margin: 0;
  }
  .sidebar {
    display: none; /* Hide the sidebar images */
  }


  .hover-box {
    position: relative;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    left: 0;
    transform: none;
    padding: 10px; /* Increase padding to make the hover box bigger */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
  }
  
  .hover-box img{
    width: 100%;
  }

}
