body {
  font-family: 'Georgia', serif; /* Use Georgia as the font for the body text */
  margin: 0;
  padding: 0;
  font-size: 18px; /* Increase the font size for all text */
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 200px; /* Adjust padding to be distance from the sidebar image */
  padding-right: 200px; /* Add additional padding on the right side */
}

.article {
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 20px;
  margin-right: 10px; /* Add margin to create space between the article and the sidebar */
  overflow-y: auto; /* Enable vertical scrolling for the article */
}

.sidebar {
  width: 100px; /* Keep the desired width of the sidebar */
  height: 100vh; /* Adjust the height to fill the remaining viewport height after considering top and bottom padding */
  position: fixed; /* Change position to fixed to ensure it sticks to the edge of the screen */
  top: 0px;
}

.sidebar-left {
  left: 0px;
}

.sidebar-right {
  right: 0px;
}

.side-image {
  width: 100%;
  border-radius: 0px;
  height: 100vh;
}

#photo {
  display: block;
  width: 80%;
  position: relative;
  margin: 0 auto;
  top: 5px;
  bottom: 5px;
}


.map-container {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

#map {
  display: block;
  width: 100%;
  height: auto;
}

#hover-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(238, 238, 238, 0.95); /* Dark background with some transparency */
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5); /* Slightly darker border */
  display: none;
  cursor: pointer; /* Add pointer cursor */
}

#hover-window .content {
  text-align: center;
}

#hover-image {
  max-width: 80%; /* Make it big but smaller than the image */
  height: auto;
}

#hover-text {
  color: black;
  margin-top: 10px;
}



/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 30px; /* Adjust padding to be distance from the sidebar image */
    padding-right: 30px; /* Add additional padding on the right side */
  }
  .article {
    max-width: 100%;
    margin: 0;
  }
  .sidebar {
    display: none; /* Hide the sidebar images */
  }
  .map-container {
    position: relative; /* Ensure relative positioning for absolute positioning of the hover window */
  }
  #hover-window {
    position: absolute;
    top: calc(100% + 20px); /* Display the hover window below the image with some spacing */
    left: 50%;
    transform: translateX(-50%);
  }
}



.gallery-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  max-height: 720px;
  overflow: hidden;
}

.gallery {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}

.gallery img {
  display: block;
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  align-items: center;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}